<h1>Boarditt Backend - RESTful API</h1>
<h3>Routes</h3>
<hr>

<table>
  <tr>
    <th style=>Route</th>
    <th>Page</th>
  </tr>
  <tr>
    <td><a href="/">/</a></td>
    <td>Home</td>
  </tr>
  <tr></tr>
    <td><a href="boards">/boards</a></td>
    <td>All Boards</td>
  </tr>
  <tr>
    <td><a href="boards">/boards/:id</a></td>
    <td>Get Board by ID</td>
  </tr>
  <tr>
    <td><a href="lists">/lists</a></td>
    <td>All Lists</td>
  </tr>
  <tr>
    <td><a href="lists">/lists/:id</a></td>
    <td>Get List by ID</td>
  </tr>
  <tr>
    <td><a href="todos">/todos</a></td>
    <td>All Todos</td>
  </tr>
  <tr>
    <td><a href="todos">/todos/:id</a></td>
    <td>Get Todo by ID</td>
  </tr>
</table>

<style>
  table, th, td {
    border: 1px solid grey;
    padding: 10px;
  }
</style>